table,tr,th,td{
    border: 1px solid rgb(190, 190, 33);
    border-collapse: collapse;
    border-color: rgb(15, 44, 70);
}
th,td{
    text-align: center;
}
th{
    color: rgb(2, 26, 26);
    background-color: rgb(151, 139, 219);
}
#nen{
    background-color: aquamarine;
}
